<!DOCRYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Mario</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="css/theme.css" type="text/css" media="all" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="jquery-2.1.4.min.js"></script>
        <script src="js/custom.js"></script>
    </head>
    <body>
        <header class="main-header">
            <figure>
                <img src="images/logo.png" alt="">
            </figure>
            <nav>
                <a href=""><i class="material-icons">album</i><span>Albumes</span></a>
                <a href=""><i class="material-icons">play_circle_outline</i><span>Play</span></a>
                <a href=""><i class="material-icons">subscriptions</i><span>Suscripcion</span></a>
                <a href=""><i class="material-icons">copyright</i><span>Copyright</span></a>
            </nav>
        </header>
            <section class="heavy">
                <figure class="home">
                    <img src="images/img3.jpg" alt="">
                    <h6>HeavyMetal</h6>
                </figure>
                <div class="groups">
                    <div class="item">
                        <figure>
                            <img src="images/heavy/blacksabbath.jpg" alt="">
                            <a href="">Black Sabbath</a>
                        </figure>
                    </div>
                    <div class="item">
                        <figure>
                            <img src="images/heavy/ironmaiden.jpg" alt="">
                            <a href="">Iron Maiden</a>
                        </figure>
                    </div>
                    <div class="item">
                        <figure>
                            <img src="images/heavy/judas_priest.jpg" alt="">
                            <a href="">Judas Priest</a>
                        </figure>
                    </div>
                    <div class="item">
                        <figure>
                            <img src="images/heavy/motorhead.jpg" alt="">
                            <a href="">Motorhead</a>
                        </figure>
                    </div>
                    <div class="item">
                        <figure>
                            <img src="images/heavy/accept.jpg" alt="">
                            <a href="">Accept</a>
                        </figure>
                    </div>
                    <div class="item">
                        <figure>
                            <img src="images/heavy/pantera.jpg" alt="">
                            <a href="">Pantera</a>
                        </figure>
                    </div>
                    <div class="item">
                        <figure>
                            <img src="images/heavy/helloween.jpg" alt="">
                            <a href="">Helloween</a>
                        </figure>
                    </div>
                    <div class="item">
                        <figure>
                            <img src="images/heavy/slipknot.jpg" alt="">
                            <a href="">Slipknot</a>
                        </figure>
                    </div>
                </div>
            </section>
        <section class="musicbar">
            <div class="playcontrol">
                <a href=""><i class="material-icons">fast_rewind</i></a>
                <a href="" class="play"><i class="material-icons">play_arrow</i></a>
                <a href=""><i class="material-icons">fast_forward</i></a>
            </div>
            <div class="progresbar">
                <figure>
                    <img src="images/album.jpg" alt="">
                </figure>
                <div class="buttons">
                       <a href="#" class="view"><i class="material-icons">view_list</i></a>
                       <a href="#"><i class="material-icons">backup</i></a>
                       <a href="#"><i class="material-icons">keyboard_hide</i></a>
                       <a href="#"><i class="material-icons">share</i></a>
                </div>
            </div>
            <div class="soundcontrol">
            </div>
            <div class="close">
                <a href="" class="close"><i class="material-icons">close</i></a>
            </div>
        </section>
        <footer class="main-footer">
            <h6>Mario Gustavo Lopez Gonzalez</h6>
            <h6>kakashi_raikirin@hotmail.com</h6>
            <h6>9983155748</h6>
        </footer>
    </body>
</html>
